{% extends 'index.html' %}
{% load static %}

{% block css %}
  <!-- Custom styles for this template-->
  <link href="{% static "css/fstdropdown.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" class="p-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/client-bills">Client Bills</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% if form.instance.pk %}Update {% else %}Create {% endif %} Client Bill</li>
  </ol>
</nav>
{% endblock %}

{% block base_container %}
<div class="row">
  <div class="col-lg-12">
    <div class="p-5">
      {% include "alert.html" %}
      <div class="text-center text-primary">
        <h1 class="h4 text-primary-900 mb-4 font-weight-bold">Create Client Bill Detail</h1>
      </div>


        <table class="table" id="id_bill_detail_form" cellspacing="0">
          <thead>
            <tr>
              <th width="25%">Client Name</th>
              <th width="20%">Bill Date</th>
              <th width="15%">Payment</th>
              <th width="15%">Previous Amount</th>
              <th width="15%">Billed Amount</th>
              <th width="10%">Action</th>
            </tr>
          </thead>
          <tfoot>
              <th><input type="text" class="form-control text-right" id="id_client" name="client" value="{{request.bill.client.name}}" readonly></th>
              <th><input type="text" class="form-control" id="id_client" name="client" value="{{request.bill.bill_date}}" readonly></th>
              <th><input type="text" class="form-control" id="id_client" name="client" value="{% if request.bill.payment %}{{request.bill.payment.amount}}{% else %}0{% endif %}" readonly></th>
              <th><input type="text" class="form-control" id="id_client" name="client" value="{{request.bill.client.current_balance}}" readonly></th>
              <th><input type="text" class="form-control" id="id_billed_amount" name="billed_amount" data-amount="{{billed_amount}}" value="{{billed_amount}}" readonly></th>
              <th>
                <a href="/client-bills/{{request.bill.id}}/update/" class="btn btn-success btn-icon-split">
                  <span class="text">Change</span>
                </a>
              </th>
          </tfoot>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="form-group">
            <label class="col-form-label font-weight-bold"></label>
          </div>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
      <form action="{{request.get_full_path}}" method="POST" enctype="multipart/form-data">
        {% include "form_non_field_errors.html" %}
        <table class="table" id="id_bill_detail_form" cellspacing="0">
          <thead>
            <tr>
              <th width="25%">Item Name</th>
              <th width="20%">Unit</th>
              <th width="15%">Rate</th>
              <th width="15%">Item Count</th>
              <th width="15%">Item Amount</th>
              <th width="10%">Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>
                <div class="form-group row text-right">
                  <div class="col-sm-12 is-invalid">
                    {{ form.item }}
                  </div>
                  {% if form.item.errors %}
                  <div class="col-sm-12">
                    <div class="text-danger">
                      <p>{{ form.item.errors }}</p>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </th>
              <th>
                <div class="form-group row">
                  <div class="col-sm-12">
                    {{ form.unit }}
                  </div>
                  {% if form.unit.errors %}
                  <div class="col-sm-12">
                    <div class="text-danger">
                      <p>{{ form.unit.errors }}</p>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </th>
              <th>
                <div class="form-group">
                  {% include "render_field.html" with field=form.rate  field_placeholder="Item rate" oninput="calculate();" %}
                </div>
              </th>
              <th>
                <div class="form-group">
                  {% include "render_field.html" with field=form.item_count field_placeholder="Item total count" oninput="calculate();" %}
                </div>
              </th>
              <th>
                <input type="text" class="form-control" id="id_item_amount" name="item_amount" value="" placeholder="Item Amount" readonly>
              </th>
              <th>
                <div class="form-group">
                  <button type="submit" class="btn btn-success btn-block">Add</button>
                </div>
              </th>
            </tr>
          </tfoot>
          <tbody>
            {% for obj in object_list %}
            <tr {% if obj.is_draft %}class="table-danger"{% endif %}>
              <td>{{ obj.name }}</td>
              <td>{{ obj.unit }}</td>
              <td>{{ obj.rate }}</td>
              <td>{{ obj.item_count }}</td>
              <td>{{ obj.amount }}</td>
              <td>
                <a href="/client-bills/{{obj.id}}/update" class="btn btn-danger">
                  <span class="text">Delete</span>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
      <form action="/client-bills/{{request.bill.id}}/done/?{{request.GET.urlencode}}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-primary btn-block">
              Done and Close
            </button>
          </div>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-success btn-block">
              Done and Print
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <!-- Page level plugins -->
  <script src="{% static "vendor/datatables/jquery.dataTables.js" %}"></script>
  <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>
  <script src="{% static "js/fstdropdown.js" %}"></script>
  <script>
    $(document).ready(function(){
      $("#id_item").removeAttr("required");
      $(".alert-success").fadeTo(2000, 500).slideUp(500, function(){
          $(".alert-success").slideUp(500);
      });
      $(".alert-danger").fadeTo(2000, 500).slideUp(500, function(){
          $(".alert-success").slideUp(500);
      });

      $('#id_bill_detail_form').DataTable({
        "bPaginate": false,
        "dom": '<"clear">',
        "aoColumns": [],
      });
    });

    function calculate() {
      var rate = Number($("#id_rate").val());
      var billedAmount = Number($("#id_billed_amount").attr("data-amount"));
      var item_count = Number($("#id_item_count").val());
      var amount = rate * item_count;
      if (Number.isInteger(amount)) {
        $("#id_item_amount").val(amount);
        if (Number.isInteger(billedAmount)) {
          $("#id_billed_amount").attr("value", Number(billedAmount)+amount);
        } else {
          $("#id_billed_amount").attr("value", amount);
        }
      }
    }
  </script>
{% endblock %}
