{% extends 'index.html' %}
{% load static %}

{% block css %}
  <!-- Custom styles for this template-->
  <link href="{% static "css/fstdropdown.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/client-bills">Client Bills</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create Client Bill</li>
  </ol>
</nav>
{% endblock %}

{% block base_container %}
<div class="row">
  <div class="col-lg-9">
    <div class="p-5">
      <div class="text-center text-primary">
        <h1 class="h4 text-primary-900 mb-4 font-weight-bold">Create New Client Bill</h1>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <label for="cleint">Email address:</label>
          {{ form.client }}
        </div>
        <div class="col-sm-3">
          <label for="current_balance">Current Balance:</label>
          <input type="text" class="form-control" placeholder="Current Balance" id="id_current_balance" name="current_balance" disabled>
        </div>
        <div class="col-sm-3">
          <label for="current_balance">Billed Amount:</label>
          <input type="text" class="form-control" placeholder="Billed Amount" id="id_billed_amount" name="billed_amount" disabled>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3" id="id_client_info">
        </div>
      </div>
      <div id="id_client_info_error">
      </div>

      <div id="id_item_data">
        <div class="row">
          <div class="col-sm-3"><label>Item:</label></div>
          <div class="col-sm-2"><label>Unit:</label></div>
          <div class="col-sm-2"><label>Rate:</label></div>
          <div class="col-sm-2"><label>Item Count:</label></div>
          <div class="col-sm-2"><label>Amount:</label></div>
        </div>
        {% for obj in detail_list %}
        <div id="id_item_data_{{ obj.id }}" class="form-group row">
          <div class="col-sm-3">
              <input type="text" class="form-control" id="id_item_{{ obj.id }}" name="item_{{ obj.id }}" value="{{ obj.item.name }}" disabled>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="id_unit_{{ obj.id }}" name="unit_{{ obj.id }}" value="{{ obj.get_unit_display }}" disabled>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="id_rate_{{ obj.id }}" name="rate_{{ obj.id }}" value="{{ obj.rate }}" disabled>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="id_item_count_{{ obj.id }}" name="item_count_{{ obj.id }}" value="{{ obj.item_count }}" disabled>
          </div>
          <div class="col-sm-2">
            <a href="#" id="id_edit_{{ obj.id }}" data-id="{{ obj.id }}" class="btn btn-primary btn-icon-split">
              <span class="icon text-white-50">
                <i class="fa fa-edit"></i>
              </span>
            </a>
            <a href="#" id="id_delete_{{ obj.id }}" data-id="{{ obj.id }}" class="btn btn-primary btn-icon-split">
              <span class="icon text-white-50">
                <i class="fa fa-trash"></i>
              </span>
            </a>
          </div>
      </div>
      {% endfor %}
    </div>

      <form action="." id="id_bill_detail" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
          <div class="col-sm-3" id="id_item_info">
            {{ detail_form.item }}
          </div>
          <div class="col-sm-2" id="id_unit_info">
            {{ detail_form.unit }}
          </div>
          <div class="col-sm-2">
              <input type="text" class="form-control" id="id_rate" name="rate" placeholder="Item rate" oninput="calculate();">
          </div>
          <div class="col-sm-2">
              <input type="text" class="form-control" id="id_item_count" name="item_count" placeholder="Total items" oninput="calculate();">
          </div>
          <div class="col-sm-2">
              <input type="text" class="form-control" id="id_amount" name="amount" placeholder="Amount" disabled>
          </div>
          <div class="col-sm-1">
            <button type="button" id="id_submit_detail" data-bill_id="{{ form.instance.id }}" class="btn btn-success btn-icon-split">
              <span class="icon text-white-50">
                <i class="fa fa-plus"></i>
              </span>
              <span class="text">Add</span>
            </button>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3 text-danger">
            <ul class="errorlist">
              <li id="id_item_error" hidden></li>
            </ul>
          </div>
          <div class="col-sm-2 text-danger">
            <ul class="errorlist">
              <li id="id_unit_error" hidden></li>
            </ul>
          </div>
          <div class="col-sm-2 text-danger">
            <ul class="errorlist">
              <li id="id_rate_error" hidden></li>
            </ul>
          </div>
          <div class="col-sm-2 text-danger">
            <ul class="errorlist">
              <li id="id_item_count_error" hidden></li>
            </ul>
          </div>
        </div>
      </form>
      <form action="." method="POST" enctype="multipart/form-data">
        {% include "form_non_field_errors.html" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <!-- Page level plugins -->
  <script src="{% static "js/fstdropdown.js" %}"></script>
  <script>
    function calculate() {
      var rate = Number($("#id_rate").val());
      var item_count = Number($("#id_item_count").val());
      var amount = rate * item_count;
      if (Number.isInteger(amount)) {
        $("#id_amount").val(amount);
      }
    }

  function onchangeEvent() {
      console.log("==============onchangeEvent============");
      var selectedItem = $(".fstlist").children(".selected").attr("data-value");
      console.log("selectedItem: ", selectedItem);
  }

  $(document).ready(function(){
    $("#id_client").removeAttr("required");
    $("#id_item").removeAttr("required");
    $("#id_unit").removeAttr("required");
    $("#id_submit_detail").click(function(){
      var clientId = $("#id_client_info").find(".selected").attr("data-value");
      var val = $(this).attr("data-bill_id");
      var billId = 0;
      if (Number.isInteger(val)) {
        Number(billId);
      }
      if (!clientId) {
        $("#id_client_info").find(".fstselected").addClass("form-control is-invalid");
        $("#id_client_info").parent().removeClass("form-group");
        $("#id_client_info_error").html('<div class="row" style="margin-bottom: 0rem;">'+
                                          '<div class="col-sm-1"></div>'+
                                            '<div class="text-danger">'+
                                              '<p></p><ul class="errorlist"><li>This field is required.</li></ul><p></p>'+
                                            '</div>'+
                                        '</div>');

        } else {
          $("#id_client_info").find(".fstselected").removeClass("form-control is-invalid");
          $("#id_client_info").parent().addClass("form-group");
          $("#id_client_info_error").html('');

          $.ajax({
            url: "/client-bills/"+clientId+"/"+billId+"/bill-detail/", 
            type: 'post',
            data: $("#id_bill_detail").serialize(),
            dataType: 'json',
            success: function ( res ) {
              if (res["status"] == true) {
                console.log(res)
                var objId = res["data"]["id"]
                var rate = res["data"]["rate"]
                var item = res["data"]["item"]
                var unit = res["data"]["unit"]
                var itemCount = res["data"]["item_count"]
                var amount = rate * itemCount
                html = '<div id="id_item_data_'+objId+'" class="form-group row">'+
                          '<div class="col-sm-3">'+
                            '<input type="text" class="form-control" id="id_item_'+objId+'" name="item_'+objId+'" value="'+item+'" disabled>'+
                          '</div>'+
                          '<div class="col-sm-2">'+
                            '<input type="text" class="form-control" id="id_unit_'+objId+'" name="unit_'+objId+'" value="'+unit+'" disabled>'+
                          '</div>'+
                          '<div class="col-sm-2">'+
                            '<input type="text" class="form-control" id="id_rate_'+objId+'" name="rate_'+objId+'" value="'+rate+'" disabled>'+
                          '</div>'+
                          '<div class="col-sm-2">'+
                            '<input type="text" class="form-control" id="id_item_count_'+objId+'" name="item_count_'+objId+'" value="'+itemCount+'" disabled>'+
                          '</div>'+
                          '<div class="col-sm-2">'+
                            '<input type="text" class="form-control" id="id_amount_'+objId+'" name="amount_'+objId+'" value="'+amount+'" disabled>'+
                          '</div>'+
                          '<div class="col-sm-2">'+
                            '<a href="#" id="id_edit_'+objId+'" data-id="'+objId+'" class="btn btn-primary btn-icon-split">'+
                              '<span class="icon text-white-50">'+
                                '<i class="fa fa-edit"></i>'+
                              '</span>'+
                              '<span class="text">Edit</span>'+
                            '</a>'+
                            '<a href="#" id="id_delete_'+objId+'" data-id="'+objId+'" class="btn btn-primary btn-icon-split">'+
                              '<span class="icon text-white-50">'+
                                '<i class="fa fa-trash"></i>'+
                              '</span>'+
                              '<span class="text">Trash</span>'+
                            '</a>'+
                          '</div>'+
                      '</div>'
                $("#id_item_data").append(html);
                $("#id_bill_detail").trigger("reset");
              } else {
                if (res["errors"]["item"]){
                  $("#id_item_error").text(res["errors"]["item"][0]);
                  $("#id_item_info").find(".fstselected").addClass("form-control is-invalid");
                  $("#id_item_error").removeAttr("hidden");
                } else {
                  $("#id_item_error").attr("hidden", true);
                  $("#id_item_error").text('');
                  $("#id_item_info").find(".fstselected").removeClass("form-control is-invalid");
                }
                if (res["errors"]["unit"]){
                  $("#id_unit_error").text(res["errors"]["unit"][0]);
                  $("#id_unit_info").find(".fstselected").addClass("form-control is-invalid");
                  $("#id_unit_error").removeAttr("hidden");
                } else {
                  $("#id_unit_error").attr("hidden", true);
                  $("#id_unit_error").text('');
                  $("#id_unit_info").find(".fstselected").removeClass("form-control is-invalid");
                }
                if (res["errors"]["rate"]){
                  $("#id_rate_error").text(res["errors"]["rate"][0]);
                  $("#id_rate").addClass("is-invalid");
                  $("#id_rate_error").removeAttr("hidden");
                } else {
                  $("#id_rate_error").attr("hidden", true);
                  $("#id_rate").removeClass("is-invalid");
                  $("#id_rate_error").text('');
                }
                if (res["errors"]["item_count"]){
                  $("#id_item_count_error").text(res["errors"]["item_count"][0]);
                  $("#id_item_count").addClass("is-invalid");
                  $("#id_item_count_error").removeAttr("hidden");
                } else {
                  $("#id_item_count_error").attr("hidden", true);
                  $("#id_item_count").removeClass("is-invalid");
                  $("#id_item_count_error").text('');
                }
              }
            },
          });
        }
      });
    });

    $('.fstlist').bind("DOMSubtreeModified",function(){
      alert('changed');
    });

  </script>
{% endblock %}
