{% extends 'index.html' %}
{% load static %}

{% block css %}
  <!-- Custom styles for this template-->
  <link href="{% static "css/bootstrap-datepicker.css" %}" rel="stylesheet">
  <link href="{% static "css/fstdropdown.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" class="p-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Client Bills</li>
  </ol>
</nav>
{% endblock %}

{% block base_container %}
<div class="row">
  <div class="col-lg-12">
    <div class="p-3">
      {% include "alert.html" %}
      <!-- DataTales -->
      <div class="card shadow mb-4">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-left">
                <h4 class="font-weight-bold text-primary">Client Bill list</h4>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="text-right">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" id="id_bill_date" name="bill_date" value="{{selected_date}}" readonly="">
                      <div class="input-group-append">
                        <span class="input-group-text fa fa-calendar"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <select name="client" class="fstdropdown-select form-control-sm" id="id_client" onChange="onchangeEvent();">
                      <option value="" {% if selected_supplier <= 0 %}selected=""{% endif %}>Select a Client</option>
                      {% for obj in client_list %}
                        {% if obj.id == selected_client %}
                          <option value="{{ obj.id }}" selected="">{{ obj.name }}</option>
                        {% else %}
                          <option value="{{ obj.id }}">{{ obj.name }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-lg-4">
                    <a href="/client-bills/create/?{{ request.GET.urlencode }}" class="btn btn-success btn-icon-split btn-sm">
                      <span class="icon text-white-50">
                        <i class="fa fa-plus"></i>
                      </span>
                      <span class="text">Add New Bill</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Client Name</th>
                  <th>Bill Time</th>
                  <th>Items #</th>
                  <th>Billed Amount</th>
                  <th>Billed Payment</th>
                  <th>Balance Before</th>
                  <th>Balance After</th>
                  <!-- <th style="width: 120px;padding-top: 30px;">Action</th> -->
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in object_list %}
                <tr {% if obj.is_draft %}class="table-danger"{% endif %}>
                  <td>{{ obj.id }}</td>
                  <td>{{ obj.client.name }}</td>
                  <td>{{ obj.bill_date }}</td>
                  <td>
                    <span onclick="showPopover({{obj.id}})" class="badge badge-info" data-toggle="popover" title="Bill Detail" data-placement="top">{{ obj.total_items }}</span>
                  </td>
                  <td>{{ obj.billed_amount }}</td>
                  <td>{{ obj.payment.amount }}</td>
                  <td>{{ obj.previous_amount }}</td>
                  <td>{{ obj.balance }}</td>
                  <td>
                    {% if obj.is_draft %}
                      <button type="button" onclick="showDeleteConfirmation({{obj.id}})" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i>
                      </button>
                      <a href="/client-bills/{{obj.id}}/update" class="btn btn-primary btn-sm">
                        <i class="fas fa-edit"></i>
                      </a>
                    {% else %}
                      <a href="/client-bills/{{obj.id}}/print" class="btn btn-primary btn-sm">
                        <i class="fas fa-print"></i>
                      </a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% for obj in object_list %}
<div id="id_{{obj.id}}_bill_detail" data-html="true">
</div>
{% endfor %}

<!-- Logout Modal-->
<div class="modal fade" id="id_delete_confirmation" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Delete Select Bill!</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete select bill.
      </div>
      <div class="modal-footer ">
        <a id="id_delete" href="" class="btn btn-success">
          Yes
        </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
  <!-- Page level plugins -->
  <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
  <script src="{% static "vendor/datatables/jquery.dataTables.js" %}"></script>
  <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>
  <script src="{% static "js/fstdropdown.js" %}"></script>
  <script>
    function showDeleteConfirmation(billId) {
      $("#id_delete_confirmation").modal('show');
      $("#id_delete").attr('href', "/client-bills/"+billId+"/delete/");
    }

    function showPopover(detailID) {
      $('[data-toggle="popover"]').popover({
         content: $('#id_'+detailID+'_bill_detail').removeAttr('hidden').html(),
         html: true,
      }).click(function(){
          setTimeout(function () {
              $('[data-toggle="popover"]').popover('hide');
          }, 3000);
      });
    }
    function onchangeEvent() {
      var url = "/client-bills/?shop_id={{request.shop.id}}";
      var selectedDate = $('#id_bill_date').val();
      var selectedClient = $(".fstlist").children(".selected").attr("data-value");
      if (selectedClient != "") {
        url = url + "&client=" + selectedClient;
      }
      if (selectedDate != "") {
        url = url + "&bill_date=" + selectedDate;
      }
      window.location.href = url
    }

    $(function() {
      $("#dataTable").DataTable({
          "oLanguage": {
            "sLengthMenu": "_MENU_",
            "sSearch": "_INPUT_",
          }
      });

      $('#id_bill_date').datepicker({
          format: "yyyy-mm-dd",
          maxViewMode: 0,
          todayBtn: "linked",
          clearBtn: true,
          autoclose: true,
          setDate: '2020-02-18',
          datesDisabled: '{{selected_date}}',
          orientation: "bottom auto",
          daysOfWeekHighlighted: "0"
      }).on('changeDate', function (ev) {
          $('#id_bill_date').change();
      });

      $('#id_bill_date').change(function () {
        onchangeEvent();
      });

      $(".fstselected").addClass("form-control-sm");
    });
  </script>
{% endblock %}
