{% extends 'index.html' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Client Bills</li>
  </ol>
</nav>
{% endblock %}

{% block base_container %}
<div class="row">
  <div class="col-lg-12">
    <div class="p-3">
      {% include "alert.html" %}
      <!-- DataTales -->
      <div class="card shadow mb-4">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-left">
                <h4 class="font-weight-bold text-primary">Client Bill list</h4>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="text-right">
                  <a href="/client-bills/create" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fa fa-plus"></i>
                    </span>
                    <span class="text">Add New Client Bill</span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Client Name</th>
                  <th>Bill Time</th>
                  <th>Items #</th>
                  <th>Amount</th>
                  <th>Balance</th>
                  <th style="width: 120px;padding-top: 30px;">Action</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Client Name</th>
                  <th>Bill Time</th>
                  <th>Items #</th>
                  <th>Amount</th>
                  <th>Balance</th>
                  <th style="width: 120px">Action</th>
                </tr>
              </tfoot>
              <tbody>
                {% for obj in object_list %}
                <tr {% if obj.is_draft %}class="table-danger"{% endif %}>
                  <td>{{ obj.client.name }}</td>
                  <td>{{ obj.bill_time }}</td>
                  <td>{{ obj.items }}</td>
                  <td>{{ obj.amount }}</td>
                  <td>{{ obj.balance }}</td>
                  <td>
                    {% if obj.is_draft %}
                    <button type="button" onclick="showDeleteConfirmation({{obj.id}})"  class="btn btn-danger">
                      <i class="fas fa-trash"></i>
                    </button>
                    <a href="/client-bills/{{obj.id}}/update" class="btn btn-primary">
                      <i class="fas fa-edit"></i>
                    </a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Logout Modal-->
<div class="modal fade" id="id_delete_confirmation" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Delete Select Bill!</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete select bill.
      </div>
      <div class="modal-footer ">
        <a id="id_delete" href="" class="btn btn-success">
          Yes
        </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
  {% load static %}
  <!-- Page level plugins -->
  <script src="{% static "vendor/datatables/jquery.dataTables.js" %}"></script>
  <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>
  <script>
    function showDeleteConfirmation(billId) {
      $("#id_delete_confirmation").modal('show');
      $("#id_delete").attr('href', "/client-bills/"+billId+"/delete/");
    }

    $(function() {
      $('#dataTable').DataTable();
      $(".alert-success").fadeTo(2000, 500).slideUp(500, function(){
          $(".alert-success").slideUp(500);
      });
      $(".alert-danger").fadeTo(2000, 500).slideUp(500, function(){
          $(".alert-success").slideUp(500);
      });
    });
  </script>
{% endblock %}
