<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Supplier Detail</title>
  {% load static %}

  <!-- Load paper.css for happy printing -->
  <link rel="stylesheet" href="{% static "css/print.css" %}">
  <link href="{% static "css/urdu-lang.css" %}" rel="stylesheet">
  <style>
    .table {
      border-collapse: collapse;
      width: 100%;
    }

    .table td, .table th {
      border-bottom: 0.1rem solid #ddd;
      border-top: 0.1rem solid #ddd;
    }

    .table tr:nth-child(even){
      background-color: #f2f2f2;
    }

    .table th {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    @page { margin-top: 0; }
  </style>
</head>

<!-- Set "A5", "A4" or "A3" for class name -->
<!-- Set also "landscape" if you need -->

<body class="document">

  {% for object_list in data %}
  <div class="page">
      <table width="100%">
        <tr style="height:10px; width: 100%">
         <td colspan="3"></td>
        </tr>
        {% if forloop.first %}
       <tr style="width: 100%">
         <td colspan="3"><img src="{{ logo_path }}" width="100%"></td>
        </tr>
       <tr>
         <td width="50%">{{ detail_duration }}</td>
         <td align="right" width="45%">{{ object.name }}</td>
         <td align="right" width="5%">({{ object.identifier }})</td>
       </tr>
        {% endif %}
       <tr height="100px;">
         <td colspan="3">
            <table class="table" {% if ledger_list2|length > ledger_list1|length %}style="margin-top: -27px;"{% endif %}>
              <thead>
                <tr>
                  <th width="10%" align="center">بیلنس</th>
                  <th width="10%" align="center">جمع رقم</th>
                  <th width="10%" align="center">بنام رقم</th>
                  <th width="40%" align="right">تفصیل</th>
                  <th width="15%" align="center">تاریخ</th>
                  <th width="15%" align="center">کوڈ</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in object_list %}
                <tr>
                  <th>{{obj.normalized_balance}}</th>
                  <th>{% if obj.bill_amount %} {{ obj.bill_amount }} {% else %} - {% endif %}</th>
                  <th>{% if obj.payment_amount %} {{ obj.payment_amount }} {% else %} - {% endif %}</th>
                  <th align="right">{{obj.description}}</th>
                  <th>{{obj.tx_date}}</th>
                  <th align="center">{{obj.tx_id}}</th>
                </tr>
                {% endfor %}
              </tbody>
            </table>
         </td>
       </tr>
        {% if forloop.last %}
       <tr>
         <td colspan="3">
            <table class="table">
              <tbody>
                <tr>
                  <th style="width: 10%" align="center">{{ current_balance_str }}</th>
                  <th style="width: 10%" align="left">{% if current_balance > 0 %} جمع{% else %} بنام{% endif %}</th>
                  <th style="width: 50%" align="right">{{ opening_balance }}</th>
                  <th style="width: 30%" align="right">اوپننگ بیلنس</th>
                </tr>
                <tr>
                  <th></th>
                  <th></th>
                  <th style="width: 70%"align="right">{{total_billed_amount}}</th>
                  <th style="width: 30%" align="right">ٹوٹل جمع رقم</th>
                </tr>
                <tr>
                  <th></th>
                  <th></th>
                  <th style="width: 70%"align="right">{{total_payment}}</th>
                  <th style="width: 30%" align="right">ٹوٹل بنام رقم</th>
                </tr>
                <tr>
                  <th></th>
                  <th></th>
                  <th style="width: 70%"align="right">{{ current_balance_str }}</th>
                  <th style="width: 30%" align="right">کرنٹ بیلنس</th>
                </tr>
              </tbody>
            </table>
         </td>
       </tr>
        {% endif %}
      </table>
  </div>
  {% endfor %}
</body>
</html>
