{% extends 'index.html' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" class="p-3">
  <ol class="breadcrumb text-center">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Supplier</li>
  </ol>
</nav>
{% endblock %}

{% block base_container %}
<div class="row">
  <div class="col-lg-12">
    <div class="p-3">
      {% include "alert.html" %}
      <!-- DataTales -->
      <div class="card shadow mb-4">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-left">
                <h4 class="font-weight-bold text-primary">Supplier list</h4>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="text-right">
                  <a href="/suppliers/create/?{{ request.GET.urlencode }}" class="btn btn-success btn-icon-split btn-sm">
                    <span class="icon text-white-50">
                      <i class="fa fa-plus"></i>
                    </span>
                    <span class="text">Add New Supplier</span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Supplier Name</th>
                  <th>CNIC</th>
                  <th>Phone</th>
                  <th>address</th>
                  <th>Opening Balance</th>
                  <th>Current Balance</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in object_list %}
                <tr>
                  <td>{{ obj.id }}</td>
                  <td>{{ obj.name }}</td>
                  <td>{% if obj.cnic %}{{ obj.cnic }}{% endif %}</td>
                  <td>{% if obj.phone %}{{ obj.phone }}{% endif %}</td>
                  <td>{% if obj.address %}{{ obj.address }}{% endif %}</td>
                  <td>{{ obj.opening_balance }}</td>
                  <td>{{ obj.current_balance }}</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <a href="/suppliers/{{obj.id}}/delete" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash"></i>
                      </a>
                      <a href="/suppliers/{{obj.id}}/update" class="btn btn-sm btn-primary">
                        <i class="fas fa-edit"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {% load static %}
  <!-- Page level plugins -->
  <script src="{% static "vendor/datatables/jquery.dataTables.js" %}"></script>
  <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>
{% endblock %}
