{% extends 'index.html' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" class="p-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Clients Payment list</li>
  </ol>
</nav>
{% endblock %}

{% block base_container %}
<div class="row">
  <div class="col-lg-12">
    <div class="p-3">
      {% include "alert.html" %}
      <!-- DataTales -->
      <div class="card shadow mb-4">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-left">
                <h4 class="font-weight-bold text-primary">Clients Payment list</h4>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="text-right">
                  <a href="/payment/clients/create" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fa fa-plus"></i>
                    </span>
                    <span class="text">Add New Payment</span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Payment Time</th>
                  <th>Description</th>
                  <th>Amount</th>
                  <th>Client Name</th>
                  <th>ID</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in object_list %}
                <tr>
                  <td>{{ obj.payment_time }}</td>
                  <td>{{ obj.description }}</td>
                  <td>{{ obj.amount }}</td>
                  <td>{{ obj.client.name }}</td>
                  <td>{{ obj.id }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {% load static %}
  <!-- Page level plugins -->
  <script src="{% static "vendor/datatables/jquery.dataTables.js" %}"></script>
  <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>
  <script>
    $(function() {
      $('#dataTable').DataTable({
          "oLanguage": {
            "sLengthMenu": "_MENU_",
            "sSearch": "_INPUT_",
          },
      });
      $(".alert-success").fadeTo(2000, 500).slideUp(500, function(){
          $(".alert-success").slideUp(500);
      });
      $(".alert-danger").fadeTo(2000, 500).slideUp(500, function(){
          $(".alert-success").slideUp(500);
      });
    })
  </script>
{% endblock %}
