{% extends 'index.html' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" class="p-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/shops">Shops</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create Shop</li>
  </ol>
</nav>
{% endblock %}

{% block base_container %}
<div class="row">
  <div class="col-lg-8">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Create New Shop</h1>
      </div>
      <form action="." method="POST" enctype="multipart/form-data">
        {% include "form_non_field_errors.html" %}
        {% include "fields.html" with field=form.name field_label="Shop Name" %}
        {% include "text_fields.html" with field=form.address field_label="Shop Address" %}
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Logo</label>
          <div class="col-sm-9">
            {% if form.logo.errors %}
              <input type="text" class="form-control is-invalid" id="id_logo" name="logo">
              <div class="text-danger">
                <p>{{ form.logo.errors }}</p>
              </div>
            {% else %}
              <input type="file" class="" id="id_logo" name="logo">
            {% endif %}
          </div>
        </div>
        {% include "form_buttons.html" with name="Supplier" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
