<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bill Detail: {{ supplier.name }}</title>
    {% load static %}

    <!-- Custom styles for this template-->
    <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Load paper.css for happy printing -->
    <link rel="stylesheet" href="{% static "css/print.css" %}">
    <link href="{% static "css/urdu-lang.css" %}" rel="stylesheet">
    <style>
      body {
        font-size: 1.2rem;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }

      table td, table th {
        border-bottom: 0.1rem solid #ddd;
        border-top: 0.1rem solid #ddd;
      }

      table tr:nth-child(even){
        background-color: #f2f2f2;
      }

      table th {
        padding-top: 3px;
        padding-bottom: 3px;
      }
      @page { margin: 0; }
    </style>

  </head>

  <!-- Set "A5", "A4" or "A3" for class name -->
  <!-- Set also "landscape" if you need -->
  <body>
    <div class="book">
      <div class="page">
        <div class="row">
            <div class="col-lg-3" style="width: 20%"></div>
            <div class="col-lg-6" style="width: 60%">
                <table cellspacing="0" cellpadding="0">
                  <tr style="height:20px; width: 100%">
                   <td colspan=8></td>
                  </tr>
                  <tr>
                    <td colspan=8><img src="{{logo_path}}" width="100%" height="170px"></td>
                  </tr>
                  <tr>
                    <th colspan=2 style="padding-left: 10px;">{{ obj.bill_date }}</th>
                    <th></th>
                    <th class="text-right">{{ supplier.identifier }}</th>
                    <th class="text-left">: کوڈ</th>
                    <th></th>
                    <th colspan=2 class="text-right">{{ supplier.name }}</th>
                  </tr>
                </table>

                <table cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="align-top">
                        <table cellspacing="0" cellpadding="0">
                          <tr>
                            <th class="text-center">رقم</th>
                            <th class="text-center">وزن</th>
                            <th class="text-center">ریٹ</th>
                            <th class="text-center">نگ</th>
                            <th class="text-right" style="padding-right: 10px;">جنس</th>
                          </tr>
                          {% for bill_obj in bill_detail_list %}
                          <tr>
                            <th class="text-center">{{ bill_obj.amount }}</th>
                            <th class="text-center">{% if bill_obj.weight %}{{ bill_obj.weight }}{% else %}-{% endif %}</th>
                            <th class="text-center">{{ bill_obj.rate }}</th>
                            <th class="text-center">{{ bill_obj.item_count }}</th>
                            <th><div class="text-right" style="padding-right: 10px;">{{ bill_obj.name }}</div></th>
                          </tr>
                          {% endfor %}

                          <tr height="2px">
                          <tr>
                            <th class="text-center">{{ total_amount }}</th>
                            <th class="text-center">{% if total_item_weight > 0 %}{{ total_item_weight }}{% else %} - {% endif %}</th>
                            <th class="text-center"></th>
                            <th class="text-center">{{ total_item_count }}</th>
                            <th class="text-center">ٹوٹل</th>
                          </tr>

                          </tr>
                          <tr>
                            <th class="text-center">{{ total_expense }}</th>
                            <th colspan=2  class="text-center">خرچ</th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                          </tr>
                          <tr>
                            <th class="text-center">{{ final_amount }}</th>
                            <th colspan=2 class="text-center">صافی بچت</th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                          </tr>
                          {% if is_cash == "n" %}
                          <tr>
                            <th class="text-center">{{ cash_amount }}</th>
                            <th colspan=2 class="text-center">نقد رقم</th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                          </tr>
                          <tr>
                            <th class="text-center">{{ remaining_amount }}</th>
                            <th colspan=2 class="text-center">جمع رقم</th>
                            <th class="text-center"></th>
                            <th class="text-center"></th>
                          </tr>
                          {% endif %}
                        </table>
                    </td>
                    <td>&nbsp;&nbsp;</td>
                    <td class="align-top">
                        <table cellspacing="0" cellpadding="0">
                            <tr height=35px>
                                <td colspan="2"></td>
                            </tr>

                          {% if bill.other_expence.farmer_name %}
                              <tr>
                                <td class="text-center">{{ bill.other_expence.farmer_name }}</td>
                                <th class="text-right">ہاری</th>
                              </tr>
                          {% endif %}

                          {% if bill.other_expence.commission_amount %}
                              <tr>
                                <td class="text-center">{{ commission_amount }}</td>
                                <th class="text-right">کمیشن</th>
                              </tr>
                          {% endif %}

                          {% if bill.other_expence.unloading_cost %}
                              <tr>
                                <td class="text-center">{{ unloading_cost }}</td>
                                <th class="text-right">مزدوری</th>
                              </tr>
                          {% endif %}

                          {% if bill.other_expence.vahicle_rent %}
                              <tr>
                                <td class="text-center">{{ bill.other_expence.vahicle_rent }}</td>
                                <th class="text-right">کرایہ</th>
                              </tr>
                          {% endif %}

                          {% if bill.other_expence.farmer_wages %}
                              <tr>
                                <td class="text-center">{{ bill.other_expence.farmer_wages }}</td>
                                <th class="text-right">ہاری خرچہ</th>
                              </tr>
                          {% endif %}

                          {% if bill.other_expence.labour_cost %}
                              <tr>
                                <td class="text-center">{{ bill.other_expence.labour_cost }}</td>
                                <th class="text-right">چنڈائی</th>
                              </tr>
                          {% endif %}

                          {% if bill.other_expence.begs_amount %}
                              <tr>
                                <td class="text-center">{{ bill.other_expence.begs_amount }}</td>
                                <th class="text-right">باردانہ</th>
                              </tr>
                          {% endif %}

                          {% if bill.other_expence.market_tax %}
                              <tr>
                                <td class="text-center">{{ bill.other_expence.market_tax }}</td>
                                <th class="text-right">M.T</th>
                              </tr>
                          {% endif %}

                          {% if bill.other_expence.beg_rope %}
                              <tr>
                                <td class="text-center">{{ bill.other_expence.beg_rope }}</td>
                                <th class="text-right">ستلی</th>
                              </tr>
                          {% endif %}
                        </table>
                    </td>
                  </tr>
                </table>
            </div>
            <div class="col-lg-3" style="width: 20%"></div>
        </div>
      </div>
    </div>
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/datatables/jquery.dataTables.js" %}"></script>
    <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>
  </body>
</html>
