{% extends 'index.html' %}
{% load static %}

{% block css %}
  <!-- Custom styles for this template-->
  <link href="{% static "css/bootstrap-datepicker.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" class="p-3">
  <ol class="breadcrumb" class="justify-content-center">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Client Bills</li>
  </ol>
</nav>
{% endblock %}

{% block base_container %}
<div class="row">
  <div class="col-lg-12">
    <div class="p-3">
      {% include "alert.html" %}
      <!-- DataTales -->
      <div class="card shadow mb-4">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-left">
                <h4 class="font-weight-bold text-primary">Client Ledger</h4>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="text-right">
                <div class="row">
                  <div class="col-lg-4"></div>
                  <div class="col-lg-4">
                    <div class="input-group input-group-sm mb-3">
                      <input type="text" class="form-control" id="id_ledger_date" name="ledger_date" value="{{selected_date}}" readonly="">
                      <div class="input-group-append">
                        <span class="input-group-text fa fa-calendar"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <a href="/ledger/clients/print/?{{ request.GET.urlencode }}" class="btn btn-primary btn-icon-split btn-sm">
                      <span class="icon text-white-50">
                        <i class="fa fa-print"></i>
                      </span>
                      <span class="text">Print Ladger</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Client Name</th>
                  <th class="text-center">Previous Amount</th>
                  <th class="text-center">Bill Amount</th>
                  <th class="text-center">Payment</th>
                  <th class="text-center">Total Amount</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>-</th>
                  <th>Total</th>
                  <th class="text-center">{{ total_previous_balance }}</th>
                  <th class="text-center">{{ total_billed_amount }}</th>
                  <th class="text-center">{{ total_payment }}</th>
                  <th class="text-center">{{ total_current_balance }}</th>
                </tr>
              </tfoot>
              <tbody>
                {% for obj in ledger_list %}
                <tr>
                  <td>{{ obj.id }}</td>
                  <td>{{ obj.name }}</td>
                  <td class="text-center">{{ obj.previous_balance }}</td>
                  <td class="text-center">{% if obj.billed_amount %}{{ obj.billed_amount }}{% else %} - {% endif %}</td>
                  <td class="text-center">{% if obj.payment %}{{ obj.payment }}{% else %} - {% endif %}</td>
                  <td class="text-center">{{ obj.current_balance }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {% load static %}
  <!-- Page level plugins -->
  <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
  <script src="{% static "vendor/datatables/jquery.dataTables.js" %}"></script>
  <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>
  <script>
    function onchangeEvent() {
      var url = "/ledger/clients/?shop_id={{request.shop.id}}";
      var selectedDate = $('#id_ledger_date').val();
      if (selectedDate != "") {
        url = url + "&ledger_date=" + selectedDate;
      }
      window.location.href = url
    }

    $(function() {
      $("#dataTable").DataTable({
          "oLanguage": {
            "sLengthMenu": "_MENU_",
            "sSearch": "_INPUT_",
          }
      });
      $('#id_ledger_date').datepicker({
          format: "yyyy-mm-dd",
          maxViewMode: 0,
          todayBtn: "linked",
          clearBtn: true,
          autoclose: true,
          setDate: '2020-02-18',
          datesDisabled: '{{selected_date}}',
          orientation: "bottom auto",
          daysOfWeekHighlighted: "0"
      }).on('changeDate', function (ev) {
          $('#id_ledger_date').change();
      });
      $('#id_ledger_date').change(function () {
        onchangeEvent();
      });
    });
  </script>
{% endblock %}
