{% extends 'index.html' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" class="p-3">
  <ol class="breadcrumb" class="justify-content-center">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Client Bills</li>
  </ol>
</nav>
{% endblock %}

{% block base_container %}
<div class="row">
  <div class="col-lg-12">
    <div class="p-3">
      {% include "alert.html" %}
      <!-- DataTales -->
      <div class="card shadow mb-4">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-left">
                <h4 class="font-weight-bold text-primary">Client Ledger</h4>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="text-right">
                  <a href="/ledger/clients/print/?{{ request.GET.urlencode }}" class="btn btn-primary btn-icon-split btn-sm">
                    <span class="icon text-white-50">
                      <i class="fa fa-print"></i>
                    </span>
                    <span class="text">Print Ladger</span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Client Name</th>
                  <th>Previous</th>
                  <th>New</th>
                  <th>Total</th>
                  <th>Payment</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in ledger_list %}
                <tr>
                  <td>{{ obj.id }}</td>
                  <td>{{ obj.name }}</td>
                  <td>{{ obj.balance }}</td>
                  <td>{{ obj.amount }}</td>
                  <td>{{ obj.total }}</td>
                  <td>{{ obj.payment }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {% load static %}
  <!-- Page level plugins -->
  <script src="{% static "vendor/datatables/jquery.dataTables.js" %}"></script>
  <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>
{% endblock %}
