{% extends 'index.html' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Client Bills</li>
  </ol>
</nav>
{% endblock %}

{% block base_container %}
<div class="row">
  <div class="col-lg-12">
    <div class="p-3">
      {% include "alert.html" %}
      <!-- DataTales -->
      <div class="card shadow mb-4">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-left">
                <h4 class="font-weight-bold text-primary">Client Bill list</h4>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="text-right">
                  <a href="/client-payment/create" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fa fa-plus"></i>
                    </span>
                    <span class="text">Add Payment</span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Client Name</th>
                      <th>Previous</th>
                      <th>New</th>
                      <th>Total</th>
                      <th>Payment</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Client Name</th>
                      <th>Previous</th>
                      <th>New</th>
                      <th>Total</th>
                      <th>Payment</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for obj in ledger_list1 %}
                    <tr>
                      <td>{{ obj.id }}</td>
                      <td>{{ obj.name }}</td>
                      <td>{{ obj.balance }}</td>
                      <td>{{ obj.amount }}</td>
                      <td>{{ obj.total }}</td>
                      <td>{{ obj.payment }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Client Name</th>
                      <th>Previous</th>
                      <th>New</th>
                      <th>Total</th>
                      <th>Payment</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Client Name</th>
                      <th>Previous</th>
                      <th>New</th>
                      <th>Total</th>
                      <th>Payment</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for obj in ledger_list2 %}
                    <tr>
                      <td>{{ obj.id }}</td>
                      <td>{{ obj.name }}</td>
                      <td>{{ obj.balance }}</td>
                      <td>{{ obj.amount }}</td>
                      <td>{{ obj.total }}</td>
                      <td>{{ obj.payment }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {% load static %}
  <!-- Page level plugins -->
  <script src="{% static "vendor/datatables/jquery.dataTables.js" %}"></script>
  <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>
{% endblock %}
