{% extends 'base.html' %}

{% block nav_bar %}{% include "nav_bar.html" %}{% endblock %}
{% block top_bar %}
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <ul class="navbar-nav">
      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <h4 class="pt-3 font-weight-bold text-primary">{{ shop.name }}</h4>
        </a>
        {% if shops_list|length > 1 %}
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-left shadow animated--grow-in" aria-labelledby="userDropdown">
            {% for obj in shops_list %}
              {% if not obj.id == shop.id %}
                <a class="dropdown-item" href="{{request.path}}?shop_id={{ obj.id }}">{{ obj.name }}</a>
              {% endif %}
              {% if not forloop.last and shops_list|length != 2 %}
                <div class="dropdown-divider"></div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </li>
    </ul>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
      {% block breadcrumb %}
      {% endblock %}
      {% include "top_bar.html" %}
    </ul>
</nav>
{% endblock %}

{% block base_container %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Content Row -->
  <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-lg-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Sale (Daily)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Rs. {{ daily_earn }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-lg-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Sale (Monthly)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Rs. {{ monthly_earn }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-lg-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Daily)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Rs. {{ daily_purchase }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-lg-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Earnings (Monthly)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Rs. {{ monthly_purchase }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>

  <!-- Content Row -->

  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-6 col-lg-6 col-md-12">
      <div class="card shadow">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Last 12 months earning overview</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-bar">
                <canvas id="myBarChart"></canvas>
            </div>
        </div>
      </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-6 col-lg-6 col-md-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-area">
                <canvas id="myAreaChart"></canvas>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
{% endblock %}


{% block javascript %}
  {% load static %}
  <!-- Page level plugins -->
  <script src="{% static "vendor/chart.js/Chart.min.js" %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static "js/chart/bar.js" %}"></script>
  <script src="{% static "js/chart/area.js" %}"></script>
  <script>
    // Shorthand for $( document ).ready()
    $(function() {
      // Loading earn data
      $.ajax({
          url: "/get_earn_data",
          type: 'GET',
          dataType: 'json',
          success: function(res) {
            data = res['data'];
            labels = res['labels'];
            max_value = res['max_value'];
            load_bar_chart(labels, data, max_value);
          }
      });
      // Loading client data
      $.ajax({
          url: "/get_top_client",
          type: 'GET',
          dataType: 'json',
          success: function(res) {
            data = res['data'];
            labels = res['labels'];
            load_line_chart(labels, data);
          }
      });
    });
  </script>
{% endblock %}
