<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  {% if shop.logo_thumbnail %}
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-text mx-3">
      <img class="img-profile" style="height:50px; width:200px;" src="{{ shop.logo_thumbnail.url }}">
    </div>
  </a>
  {% else %}
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
  </a>
  {% endif %}

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/?{{ request.GET.urlencode }}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="/shops/?{{ request.GET.urlencode }}">
      <i class="fas fa-fw fa-cog"></i>
      <span>Shops</span>
    </a>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="/suppliers/?{{ request.GET.urlencode }}">
      <i class="fas fa-fw fa-cog"></i>
      <span>Supplier</span>
    </a>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="/clients/?{{ request.GET.urlencode }}">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Clients</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="/client-bills/?{{ request.GET.urlencode }}">
      <i class="fas fa-file-invoice"></i>
      <span>Bill To Client</span>
    </a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="/ledger/?{{ request.GET.urlencode }}">
      <i class="fas fa-fw fa-table"></i>
      <span>Ladger</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
