<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  {% if shop.logo_thumbnail %}
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-text mx-3">
      <img class="img-profile" style="height:50px; width:100px;" src="{{ shop.logo_thumbnail.url }}">
    </div>
  </a>
  {% else %}
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
  </a>
  {% endif %}

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/?shop_id={{ request.shop.id }}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="/shops/?shop_id={{ request.shop.id }}">
      <i class="fas fa-fw fa-cog"></i>
      <span>Shops</span>
    </a>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="/suppliers/?shop_id={{ request.shop.id }}">
      <i class="fas fa-fw fa-cog"></i>
      <span>Supplier</span>
    </a>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="/clients/?shop_id={{ request.shop.id }}">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Clients</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="/client-bills/?shop_id={{ request.shop.id }}&bill_date={{today}}">
      <i class="fas fa-file-invoice"></i>
      <span>Bill To Client</span>
    </a>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLadger" aria-expanded="true" aria-controls="collapseLadger">
      <i class="fas fa-money-check-alt"></i>
      <span>Ladger</span>
    </a>
    <div id="collapseLadger" class="collapse" aria-labelledby="headingLadger" data-parent="#accordionSidebar">
      <div class="py-2 collapse-inner rounded">
        <a class="collapse-item" href="/ledger/suppliers/?shop_id={{ request.shop.id }}">Supplier</a>
        <a class="collapse-item" href="/ledger/clients/?shop_id={{ request.shop.id }}">Client</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePayment" aria-expanded="true" aria-controls="collapsePayment">
      <i class="fas fa-money-check-alt"></i>
      <span>Payment</span>
    </a>
    <div id="collapsePayment" class="collapse" aria-labelledby="headingPayment" data-parent="#accordionSidebar">
      <div class="py-2 collapse-inner rounded">
        <a class="collapse-item" href="/payment/suppliers/?shop_id={{ request.shop.id }}">Supplier</a>
        <a class="collapse-item" href="/payment/clients/?shop_id={{ request.shop.id }}">Client</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
