{% if field.errors %}
  <input type="text" class="form-control form-control-sm is-invalid" id="id_{{field.name}}" name="{{field.name}}" value="{% if field.value %}{{ field.value }}{% endif %}" oninput="{{oninput}}" title="{{field_placeholder}}">
  <div class="text-danger">
    <p>{{ field.errors }}</p>
  </div>
{% else %}
  {% if field.value is not None %}
    <input type="text" class="form-control form-control-sm" id="id_{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" placeholder="{{field_placeholder}}" oninput="{{oninput}}" title="{{field_placeholder}}">
  {% else %}
    <input type="text" class="form-control form-control-sm" id="id_{{ field.name }}" name="{{ field.name }}" value="{% if field.initial is not None %}{{ field.initial }}{% endif %}"  placeholder="{{field_placeholder}}"  title="{{field_placeholder}}" oninput="{{oninput}}">
  {% endif %}
{% endif %}
