<div class="form-group row">
  <label class="col-sm-3 col-form-label font-weight-bold">{{ field_label }}</label>
  <div class="col-sm-9">
    {% if field.errors %}
      <textarea type="text" class="form-control is-invalid" id="id_{{field.label}}" name="{{field.label}}">{{ field.value }}</textarea>
      <div class="text-danger">
        <p>{{ field.errors }}</p>
      </div>
    {% else %}
      {% if field.value is not None %}
        <textarea type="text" class="form-control" id="id_{{ field.name }}" name="{{ field.name }}">{{ field.value }}</textarea>
      {% else %}
        <textarea type="text" class="form-control" id="id_{{ field.name }}" name="{{ field.name }}">{% if field.initial is not None %}{{ field.initial }}{% endif %}</textarea>
      {% endif %}
    {% endif %}
  </div>
</div>

