{% extends 'index.html' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" class="p-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/?{{ request.GET.urlencode }}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/clients/?{{ request.GET.urlencode }}">Clients</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{object.name}}</li>
  </ol>
</nav>
{% endblock %}

{% block base_container %}
<div class="row">
  <div class="col-lg-12">
    <div class="p-3">
      {% include "alert.html" %}
      <!-- DataTales -->
      <div class="card shadow mb-4">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-left">
                <h4 class="font-weight-bold text-primary">{{object.name}}</h4>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="text-right">
                  <a href="/clients/{{object.id}}/print/?{{ request.GET.urlencode }}" class="btn btn-primary btn-icon-split btn-sm">
                    <span class="icon text-white-50">
                      <i class="fa fa-print"></i>
                    </span>
                    <span class="text">Print Detail</span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th class="text-center" width="10%">Balance</th>
                  <th class="text-center" width="10%">Payment</th>
                  <th class="text-center" width="10%">Billed</th>
                  <th class="text-right" width="44%">Description</th>
                  <th class="text-center" width="16%">Date</th>
                  <th class="text-center" width="10%">ID</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in data %}
                <tr>
                  <th class="text-center">{{obj.balance}}</th>
                  <th class="text-center">{% if obj.payment_amount %} {{ obj.payment_amount }} {% else %} - {% endif %}</th>
                  <th class="text-center">{% if obj.bill_amount %} {{ obj.bill_amount }} {% else %} - {% endif %}</th>
                  <th class="text-right">{{obj.description}}</th>
                  <th class="text-center">{{obj.tx_date}}</th>
                  <th class="text-center">{{obj.tx_id}}</th>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {% load static %}
  <!-- Page level plugins -->
  <script src="{% static "vendor/datatables/jquery.dataTables.js" %}"></script>
  <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>
  <script>
    $(function() {
      $("#dataTable").DataTable({
          "order": [],
          "oLanguage": {
            "sLengthMenu": "_MENU_",
            "sSearch": "_INPUT_",
          },
          "aoColumnDefs": [
              { "bSortable": false, "aTargets": [ 0, 1, 2, 3, 4, 5, 6] }, 
              { "bSearchable": false, "aTargets": [ 0, 1, 2, 3, 4, 5, 6] }
          ]
      });
    });
  </script>
{% endblock %}
