<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Client Ledger</title>
  {% load static %}

  <!-- Load paper.css for happy printing -->
  <link rel="stylesheet" href="{% static "css/print.css" %}">
  <link href="{% static "css/urdu-lang.css" %}" rel="stylesheet">
  <style>
    .table {
      border-collapse: collapse;
      width: 100%;
    }

    .table td, .table th {
      border-bottom: 0.1rem solid #ddd;
      border-top: 0.1rem solid #ddd;
    }

    .table tr:nth-child(even){
      background-color: #f2f2f2;
    }

    .table th {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  </style>
</head>

<!-- Set "A5", "A4" or "A3" for class name -->
<!-- Set also "landscape" if you need -->

<body class="document">

  {% for object_list in data %}
  <div class="page">
      <table width="100%">
        {% if forloop.first %}
       <tr style="width: 100%">
         <td colspan="2"><img src="/static/img/index.jpeg" width="100%"></td>
        </tr>
       <tr align="right"><td colspan="2">{{ object.name }} ({{ object.id }})</td></tr>
        {% endif %}
       <tr height="100px;">
         <td>
            <table class="table" {% if ledger_list2|length > ledger_list1|length %}style="margin-top: -27px;"{% endif %}>
              <thead>
                <tr>
                  <th width="15%" align="right">ID</th>
                  <th width="15%" align="center">Date</th>
                  <th width="40%" align="left">Description</th>
                  <th width="10%" align="center">Billed Amount</th>
                  <th width="10%" align="center">Payment</th>
                  <th width="10%" align="center">Balance</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in object_list %}
                <tr>
                  <th align="right">{{obj.tx_id}}</th>
                  <th>{{obj.tx_date}}</th>
                  <th align="left">{{obj.description}}</th>
                  <th>{{obj.bill_amount}}</th>
                  <th>{{obj.payment_amount}}</th>
                  <th>{{obj.balance}}</th>
                </tr>
                {% endfor %}
              </tbody>
            </table>
         </td>
       </tr>
        {% if forloop.last %}
       <tr>
         <td colspan="2">
            <table class="table">
              <tbody>
                <tr>
                  <th style="width: 70%"align="right">{{object.opening_balance}}</th>
                  <th style="width: 30%" align="right">Opening Balance</th>
                </tr>
                <tr>
                  <th style="width: 70%"align="right">{{total_billed_amount}}</th>
                  <th style="width: 30%" align="right">Billed Total Amount</th>
                </tr>
                <tr>
                  <th style="width: 70%"align="right">{{total_payment}}</th>
                  <th style="width: 30%" align="right">Total Payment Received</th>
                </tr>
                <tr>
                  <th style="width: 70%"align="right">{{object.current_balance}}</th>
                  <th style="width: 30%" align="right">Current Balance</th>
                </tr>
              </tbody>
            </table>
         </td>
       </tr>
        {% endif %}
      </table>
  </div>
  {% endfor %}
</body>
</html>
