{% extends 'index.html' %}
{% load static %}

{% block css %}
  <!-- Custom styles for this template-->
  <link href="{% static "css/bootstrap-datepicker.css" %}" rel="stylesheet">
{% endblock %}


{% block breadcrumb %}
<nav aria-label="breadcrumb" class="p-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/clients">Clients</a></li>
    {% if form.instance.pk %}
    <li class="breadcrumb-item active" aria-current="page">Update Client</li>
    {% else %}
    <li class="breadcrumb-item active" aria-current="page">Create Client</li>
    {% endif %}
  </ol>
</nav>
{% endblock %}

{% block base_container %}
<div class="row">
  <div class="col-lg-9">
    <div class="p-5">
      <div class="text-center text-primary">
        {% if form.instance.pk %}
        <h1 class="h4 text-primary-900 mb-4 font-weight-bold">Update Client: {{form.instance.name}}</h1>
        {% else %}
        <h1 class="h4 text-primary-900 mb-4 font-weight-bold">Create New Client</h1>
        {% endif %}
      </div>
      <form action="{{request.get_full_path}}" method="POST" enctype="multipart/form-data">
        {% include "form_non_field_errors.html" %}
        {% include "fields.html" with field=form.name field_label="Client Name" %}
        {% include "fields.html" with field=form.cnic field_label="CNIC Number" %}
        {% include "fields.html" with field=form.phone field_label="Phone Number" %}
        {% include "text_fields.html" with field=form.address field_label="Client Address" %}
        {% include "fields.html" with field=form.opening_balance field_label="Opening Balance" %}
        {% include "datetime_field.html" with field=form.created_time field_label="Created Date" %}
        {% include "form_buttons.html" with name="Client" pk=form.instance.pk %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <!-- Page level plugins -->
  <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
  <script>
    $(document).ready(function(){
      $('#id_created_time').datepicker({
          todayHighlight: true,
          format: "yyyy-mm-dd",
          maxViewMode: 0,
          todayBtn: "linked",
          clearBtn: true,
          autoclose: true,
          orientation: "bottom auto",
          daysOfWeekHighlighted: "0"
      });
    });
  </script>
{% endblock %}

