{% extends 'index.html' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" class="p-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Clients</li>
  </ol>
</nav>
{% endblock %}

{% block base_container %}
<div class="row">
  <div class="col-lg-12">
    <div class="p-3">
      {% include "alert.html" %}
      <!-- DataTales -->
      <div class="card shadow mb-4">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-left">
                <h4 class="font-weight-bold text-primary">Client list</h4>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="text-right">
                  <a href="/clients/create/?{{ request.GET.urlencode }}" class="btn btn-outline-secondary btn-icon-split btn-sm">
                    <span class="icon text-white-50">
                      <i class="fa fa-plus"></i>
                    </span>
                    <span class="text">Add New Client</span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Client Name</th>
                  <th>CNIC</th>
                  <th>Phone</th>
                  <th>Opening Balance</th>
                  <th>Current Balance</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in object_list %}
                <tr>
                  <td>{{ obj.id }}</td>
                  <td>
                    <a href="/clients/{{obj.id}}/detail/?{{ request.GET.urlencode }}">
                      {{ obj.name }}
                    </a>
                  </td>
                  <td>{% if obj.cnic %}{{ obj.cnic }}{% endif %}</td>
                  <td>{% if obj.phone %}{{ obj.phone }}{% endif %}</td>
                  <td>{{ obj.opening_balance }}</td>
                  <td>{{ obj.current_balance }}</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" onclick="showDeleteConfirmation({{obj.id}})" class="btn btn-light btn-sm">
                        <i class="fas fa-trash text-danger"></i>
                      </button>
                      <a href="/clients/{{obj.id}}/update/?{{ request.GET.urlencode }}" class="btn btn-light btn-sm">
                        <i class="fas fa-edit text-primary"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="id_delete_confirmation" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Delete Select Bill!</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete selected client.
      </div>
      <div class="modal-footer ">
        <a id="id_delete" href="" class="btn btn-success">
          Yes
        </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {% load static %}
  <!-- Page level plugins -->
  <script src="{% static "vendor/datatables/jquery.dataTables.js" %}"></script>
  <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>
  <script>
    $(function() {
      $("#dataTable").DataTable({
          "oLanguage": {
            "sLengthMenu": "_MENU_",
            "sSearch": "_INPUT_",
          }
      });
    });

    function showDeleteConfirmation(Id) {
      $("#id_delete_confirmation").modal('show');
      $("#id_delete").attr('href', "/clients/"+Id+"/delete/?{{ request.GET.urlencode }}");
    }
  </script>
{% endblock %}
