{% extends 'index.html' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Clients</li>
  </ol>
</nav>
{% endblock %}

{% block base_container %}
<div class="row">
  <div class="col-lg-12">
    <div class="p-3">
      {% include "alert.html" %}
      <!-- DataTales -->
      <div class="card shadow mb-4">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-left">
                <h4 class="font-weight-bold text-primary">Client list</h4>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="text-right">
                  <a href="/clients/create" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fa fa-plus"></i>
                    </span>
                    <span class="text">Add New Client</span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Client Name</th>
                  <th>CNIC</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th>Opening Balance</th>
                  <th>Created On</th>
                  <th>Last Update</th>
                  <th style="width: 120px;padding-top: 30px;">Action</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Client Name</th>
                  <th>CNIC</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th>Opening Balance</th>
                  <th>Created On</th>
                  <th>Last Update</th>
                  <th style="width: 120px">Action</th>
                </tr>
              </tfoot>
              <tbody>
                {% for obj in object_list %}
                <tr>
                  <td>{{ obj.name }}</td>
                  <td>{% if obj.cnic %}{{ obj.cnic }}{% endif %}</td>
                  <td>{% if obj.phone %}{{ obj.phone }}{% endif %}</td>
                  <td>{% if obj.address %}{{ obj.address }}{% endif %}</td>
                  <td>{% if obj.opening_balance is not None %}{{ obj.opening_balance }}{% endif %}</td>
                  <td>{{ obj.created_time }}</td>
                  <td>{{ obj.last_modified }}</td>
                  <td style="padding-top: 30px;">
                    <a href="/clients/{{obj.id}}/delete" class="btn btn-danger">
                      <i class="fas fa-trash"></i>
                    </a>
                    <a href="/clients/{{obj.id}}/update" class="btn btn-primary">
                      <i class="fas fa-edit"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {% load static %}
  <!-- Page level plugins -->
  <script src="{% static "vendor/datatables/jquery.dataTables.js" %}"></script>
  <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>
  <script>
    $(function() {
      $('#dataTable').DataTable();
      $(".alert-success").fadeTo(2000, 500).slideUp(500, function(){
          $(".alert-success").slideUp(500);
      });
      $(".alert-danger").fadeTo(2000, 500).slideUp(500, function(){
          $(".alert-success").slideUp(500);
      });
    })
  </script>
{% endblock %}
